<div>
  ID : <span>{{ selectedWidget.id }}</span>
</div>
<div>
  <label for="name">Name : </label>
  <input [(ngModel)]="selectedWidget.name" id="name" placeholder="name">
</div>

<div>
  <label for="color">Color : </label>
  <input [(ngModel)]="selectedWidget.color" id="color" placeholder="color">
</div>
<div>
  <label for="weight">Weight : </label>
  <input [(ngModel)]="selectedWidget.weight" id="weight" placeholder="weight">
</div>

<br><br><br>

<div class="container">
  <h2>List of Widgets : </h2>
  <ul class="widgets">
    <li *ngFor="let widget of widgets" (click)="select(widget)">
      
        <span>{{ widget.name }}</span> ( <span style="color: {{ widget.color }}">{{ widget.color }}</span> )
      
    </li>
  </ul>
</div>