<div class="container">
  <div *ngIf="error">
    <a class="list-group-item list-group-item-action list-group-item-danger">
      {{ error }}
    </a>
  </div>
  <div>
    <label for="name">Name : </label>
    <input [(ngModel)]="widget.name" class="form-control w-25" id="name" placeholder="name">
  </div>

  <div>
    <label for="color">Color : </label>
    <input [(ngModel)]="widget.color" class="form-control w-25" id="color" placeholder="color">
  </div>
  <div>
    <label for="weight">Weight : </label>
    <input [(ngModel)]="widget.weight" class="form-control w-25" id="weight" type="number" placeholder="weight">
  </div>
  <div>
    <button type="button" class="btn btn-success" (click)="createWidget()">Create</button>
  </div>
</div>