/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1a1a1a;
  color: #cecece;
}

h1 {
  color: #b30000;
  font-size: 2rem;
}

div#content {
  font-size: 1rem;
}

div#content p {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

div.picture-frame {
  background-color: #444444;
  color: #d0d0d0;
  margin: .5em;
  padding: 1em;
  text-align: center;
  border-style: double;
  border-width: 0.4em;
  border-color: #9b9b9b;
  border-radius: 1em;
}

